<section class="about-resto">
  <div class="container">
    <div class="about-res-div">
      <div class="div-two-resto">
        <h2 class="visually-hidden">About our restourant</h2>
        <p class="top-paragr-resto">Amet minim mollit non</p>
        <h3 class="headlines-mimino">MIMIHO</h3>
        <p class="paragr-about-restourant-resto">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="images-div-resto">
        <picture> 
          <source srcset="./img/hero-about-resto/m-restaurant-interior.jpg 1x, ./img/hero-about-resto/m-restaurant-interior2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
          <source srcset="./img/hero-about-resto/t-restaurant-interior.jpg 1x, ./img/hero-about-resto/t-restaurant-interior2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
          <source srcset="./img/hero-about-resto/d-restaurant-interior.jpg 1x, ./img/hero-about-resto/d-restaurant-interior2x.jpg 2x" media="(min-width: 1280px )" type="image/jpeg">
          <img class="images-shadow-resto" src="./img/hero-about-resto/m-restaurant-interior.jpg" alt="man grill cook">
        </picture>
      </div>
    </div>
    <div class="chairs-and-paragr">
      <picture> 
        <source srcset="./img/hero-about-resto/m-chairs.jpg 1x, ./img/hero-about-resto/m-chairs-2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
        <source srcset="./img/hero-about-resto/t-chairs.jpg 1x, ./img/hero-about-resto/t-chairs-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
        <source srcset="./img/hero-about-resto/d-chairs.jpg 1x, ./img/hero-about-resto/d-chairs-2x.jpg 2x" media="(min-width: 1280px )" type="image/jpeg">
        <img class="images-shadow-resto" src="./img/hero-about-resto/m-chairs.jpg" alt="chairs">
      </picture>
      <div class="div-about-chairs">
        <p class="about-chairs">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="div-homepage-list">
      <ul class="restourant-list-resto">
        <li class="restourant-list-item-resto">
          <picture>
            <source srcset="./img/hero-about-resto/m-slider1.jpg 1x, ./img/hero-about-resto/m-slider1-2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <source srcset="./img/hero-about-resto/t-slider1.jpg 1x, ./img/hero-about-resto/t-slider1-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
            <source srcset="./img/hero-about-resto/d-slider1.jpg 1x, ./img/hero-about-resto/d-slider1-2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <img class="images-shadow-resto"  src="./img/hero-about-resto/m-slider1.jpg" alt="first slide">
           </picture>
        </li>
        <li class="restourant-list-item">
          <picture>
            <source srcset="./img/hero-about-resto/m-slider2.jpg 1x, ./img/restourant/m-slider2-2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <source srcset="./img/hero-about-resto/t-slider2.jpg 1x, ./img/hero-about-resto/t-slider2-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
            <source srcset="./img/hero-about-resto/d-slider2.jpg 1x, ./img/hero-about-resto/d-slider2-2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <img class="images-shadow-resto-r" src="./img/hero-about-resto/m-slider2.jpg" alt="hinkaly">
           </picture>
        </li>
      </ul>
    </div>
    <div class="main-button-wrap button">
      <ul class="svg-list">
        <li class="svg-list-item">
          <button type="button" class="slider-button-l">
            <svg width="32" height="32" class="button-icon">
              <use href="./img/icons.svg#cil_arrow-left-black"></use>
            </svg>
          </button>
        </li>
        <li class="svg-list-item">
          <button type="button" class="slider-button-r">
            <svg width="32" height="32" class="button-icon">
              <use href="./img/icons.svg#cil_arrow-right-black"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
  
</section>
