<div class="modal" data-modal="1">
  <button class="modal-close buttons js-modal-close">
    <svg class="modal-icon" width="24" height="24">
      <use href="./img/icons.svg#x"></use>
    </svg>
  </button>
  <h1 class="modal-header">ЗАБРОНЮВАТИ НОМЕР</h1>
  <form class="modal-form form-position-room">
    <div class="form-position-input">
      <label class="modal-label room">
        <input
          type="text"
          name="user-name"
          class="modal-input username"
          placeholder="Ваше ім’я"
          required
          pattern="^[a-zA-Z-Яа-яЁёІіЇїЄє]+\s[a-zA-Z-Яа-яЁёІіЇїЄє]+${2,20}"
          title="Ім'я та прізвище з великої літери"
        />
        <span class="modal-label-text">На кого забронювати номер?</span>
      </label>
      <label class="modal-label room">
        <input
          type="tel"
          name="phone"
          class="modal-input phone"
          placeholder="+38 (___) ___-__-__"
          required
          pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
        />
        <span class="modal-label-text">Номер телефону</span>
      </label>
    </div>
    <div class="form-position-dropdown">
      <div class="form-group room third">
        <div class="dropdown">
          <button class="dropdown-button">Двомісний люкс</button>
          <ul class="dropdown-list">
            <li class="dropdown-list-item" data-value="2">Двомісний</li>
            <li class="dropdown-list-item" data-value="2L">Двомісний люкс</li>
            <li class="dropdown-list-item" data-value="3">Трьохмісний</li>
          </ul>
          <input
            type="text"
            name="select-room"
            value=""
            class="dropdown-input-hidden"
            required
          />
        </div>
        <span class="modal-label-text">Категорія номеру</span>
      </div>
      <div class="form-group room">
        <div class="dropdown">
          <button class="dropdown-button">Сьогодні</button>
          <ul class="dropdown-list">
            <li class="dropdown-list-item" data-value="today">Сьогодні</li>
            <li class="dropdown-list-item" data-value="tomorrow">Завтра</li>
            <li class="dropdown-list-item" data-value="week-later">
              Через неділю
            </li>
          </ul>
          <input
            type="text"
            name="select-date-arrival"
            value=""
            class="dropdown-input-hidden"
            required
          />
        </div>
        <span class="modal-label-text">Дата заїзду</span>
      </div>
      <div class="form-group room first">
        <div class="dropdown">
          <button class="dropdown-button">Сьогодні</button>
          <ul class="dropdown-list">
            <li class="dropdown-list-item" data-value="today">Сьогодні</li>
            <li class="dropdown-list-item" data-value="tomorrow">Завтра</li>
            <li class="dropdown-list-item" data-value="week-later">
              Через неділю
            </li>
          </ul>
          <input
            type="text"
            name="select-date-departure"
            value=""
            class="dropdown-input-hidden"
            required
          />
        </div>
        <span class="modal-label-text">Дата виїзду</span>
      </div>
    </div>
    <button type="submit" class="modal-submit buttons">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
  </form>
</div>
