<section class="section-contacts">
    <div class="container">
        <h2 class="visually-hidden">Our Contacts</h2>
        <div class="contacts-wrapper">
            <div class="contacts-text">
                <div class="contacts-title-top">
                  <h3 class="logo logo-text logo-dark">mimiho</h3>
                  <p class="sub-title">Ресторанно-готельний комплекс</p>
                </div>
                <div class="contact-fild-box">
                    <p class="contact-title">
                        Ресторан
                    </p>
                    <a href="tel:380955559533" class="contact-fild tel-fild tel">
                        <svg width="24" height="24">
                            <use href="img/icons.svg#fluent_phone-24-regular"></use>
                        </svg>
                        095 555 95 33
                    </a>
                </div>
                <div class="contact-fild-box ">
                    <p class="contact-title ">
                        Готель
                    </p>
                    <a href="tel:380668491089" class="contact-fild tel-fild hotel">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#fluent_phone-24-regular"></use>
                    </svg>
                      <span>066 849 10 89</span><span>067 275 85 40</span></a>
                </div>
                <div class="contact-fild-box">
                    <a href="https://goo.gl/maps/G5rFtFJMjctaWjNd6" class="contact-fild contact-map">Україна, м. Полтава,
                        вул. Маршала Бірюзова, 15</a>
                </div>
            </div>
            <div class="contacts-maps">
              <a href="https://goo.gl/maps/G5rFtFJMjctaWjNd6" target="_blank">
              <picture>
                <source
                  srcset="
                    img/m-maps.jpg    1x,
                    img/m-maps@2x.jpg 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    img/t-maps.jpg    1x,
                    img/t-maps@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width:1279px)"
                />
                <source
                  srcset="
                    img/d-maps.jpg    1x,
                    img/d-maps@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="photo-maps"
                  src="img/m-maps.jpg"
                  alt="Карта"
                  width="384"
                />
              </picture>
            </a>
            </div>
        </div>
    </div>
</section>