<section class="section-contacts">
    <div class="container">
        <h2 class="visually-hidden">Контактна інформація</h2>
        <div class="contacts-wrapper">
            <div class="contacts-text">
                <div class="contacts-title-top">
                  <p class="logo logo-text logo-dark">mimiho</p>
                  <p class="sub-title">Ресторанно-готельний комплекс</p>
                </div>
                <div class="contacts-box">
                <div class="contact-title-mob-box">
                    <div class="contact-title-mob">Ресторан</div>
                    <div class="contact-title-mob">Готель</div>
                </div>
                <div class="contacts-tab-box">
                <div class="contact-fild-box">
                    <p class="contact-title-tab">Ресторан</p>
                    <a href="tel:380955559533" class="contact-fild tel1">
                        <svg width="24" height="24">
                            <use href="img/icons.svg#fluent_phone-24-regular"></use>
                        </svg>
                        095 555 95 33
                    </a>
                </div>
                <div class="contact-fild-box ">
                    <p class="contact-title-tab ">
                        Готель
                    </p>
                    <a href="tel:380668491089" class="contact-fild tel-fild">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#fluent_phone-24-regular"></use>
                    </svg>
                      <span class="tel2">066 849 10 89</span><span>067 275 85 40</span></a>
                </div>
                <div class="contact-fild-box">
                  <a href="https://goo.gl/maps/G5rFtFJMjctaWjNd6" class="contact-fild postal">
                    <svg width="24" height="24">
                      <use href="img/icons.svg#entypo_location-pin"></use>
                    </svg>Україна, м. Полтава,
                      вул. Маршала Бірюзова, 15</a>
                </div>
                </div>
              </div>
            </div>
            <div class="contacts-maps">
              <a href="https://goo.gl/maps/G5rFtFJMjctaWjNd6" target="_blank">
                <picture>
                  <source srcset="img/map-mobile-1x.jpg  1x, img/map-mobile-2x.jpg 2x"
                    media="(min-width: 414px)" >
                  <source
                    srcset="img/map-tablet-1x.jpg  1x,
                      img/map-tablet-2x.jpg  2x"
                    media="(min-width: 1024px)" >
                  <source
                    srcset="img/map-1x.jpg  1x,
                      img/map-2x.jpg  2x"
                    media="(min-width: 1280px)" >
                  <img
                    class="photo-maps"
                    src="img/map-mobile-1x.jpg"
                    alt="Карта"
                    >
                </picture>
              </a>
            </div>
        </div>
    </div>
</section>