<section class="section-contacts">
    <div class="container">
        <h2 class="visually-hidden">Our Contacts</h2>
        <div class="contacts-wrapper">
            <div class="contacts-text">
                <div class="contacts-title-top">
                  <h3 class="logo logo-text logo-dark">mimiho</h3>
                  <p class="sub-title">Ресторанно-готельний комплекс</p>
                </div>
                <div class="contact-fild-box top">
                    <p class="contact-title">
                        Ресторан
                    </p>
                    <a href="tel:380955559533" class="contact-fild tel-fild tel">
                        <svg width="24" height="24">
                            <use href="img/icons.svg#fluent_phone-24-regular"></use>
                        </svg>
                        095 555 95 33
                    </a>
                </div>
                <div class="contact-fild-box ">
                    <p class="contact-title ">
                        Готель
                    </p>
                    <a href="tel:380668491089" class="contact-fild tel-fild hotel">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#fluent_phone-24-regular"></use>
                    </svg>
                      <span>066 849 10 89</span><span>067 275 85 40</span></a>
                </div>
                <div class="contact-fild-box">
                    <a href="" class="contact-fild contact-map">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#fentypo_location-pin"></use>
                    </svg>
                      Україна, м. Полтава,
                        вул. Маршала Бірюзова, 15</a>
                </div>
            </div>
            <div class="contacts-maps">
              <picture>
                <source
                  srcset="
                    img/m-maps.jpg    1x,
                    img/m-maps@2x.jpg 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    img/t-maps.jpg    1x,
                    img/t-maps@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width:1279px)"
                />
                <source
                  srcset="
                    img/d-maps.jpg    1x,
                    img/d-maps@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="photo-maps"
                  src="img/m-maps.jpg"
                  alt="Карта"
                  width="384"
                />
              </picture>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1676783357525!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
        </div>
    </div>
</section>