<footer>
  <section>
    <p class="footer-title">
      МІМІНО
    </p>
    <ul class="navigation-list">
      <li class="navigation-item"><a href="" class="navigation-link">Головна</a></li>
      <li class="navigation-item"><a href="" class="navigation-link">Ресторан</a></li>
      <li class="navigation-item"><a href="" class="navigation-link">Готель</a></li>
    </ul>
    <ul class="soc">
      <li class="soc-item"><a href="" class="soc-link">Telegram</a></li>
      <li class="soc-item"><a href="" class="soc-link">Facebook</a></li>
      <li class="soc-item"><a href="" class="soc-link">Instagram</a></li>
    </ul>
  </section>
</footer>

<script type="module" src="/main.js"></script>
</body>
</html>