
</main>
<footer class="foot">
  <div class="footer-container footer-position ">
    <div class="title">
      <p class="footer-title logo logo-text"> 
        <a href="title-link">
          MIMIHO
        </a>
      </p>
    </div>
<div class="information">
  <div class="navigation-position">
    <div class="tab-position">
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item"><a href="./hero.html" class="navigation-link">Головна</a></li>
          <li class="navigation-item"><a href="./restaurant-hero.html" class="navigation-link">Ресторан</a></li>
          <li class="navigation-item"><a href="./hotel-about.html" class="navigation-link">Готель</a></li>
        </ul>
      </nav>
    </div>
  <div class="soc-list-item">
    <ul class="soc">
      <li class="soc-item">
        <a href="https://web.telegram.org/z/" class="soc-link">
          Telegram
          <svg width="24" height="24" class="icon-footer">
            <use href="./img/icons.svg#la_telegram-plane"></use>
            <use href="../img/icons.svg#la_telegram-plane"></use>
        </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="https://www.facebook.com/" class="soc-link">
          Facebook
          <svg width="24" height="24" class="icon-footer">
            <use href="./img/icons.svg#jam_facebook-square"></use>
            <use href="../img/icons.svg#jam_facebook-square"></use>
        </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="https://www.instagram.com/" class="soc-link">
          Instagram
          <svg width="24" height="24" class="icon-footer">
            <use href="./img/icons.svg#akar-icons_instagram-fill"></use>
            <use href="../img/icons.svg#akar-icons_instagram-fill"></use>
        </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
  <div class="networks-list-item">
    <ul class="networks-footer networks">
      <li class="li-networks">
          <a href="https://www.instagram.com/" class="a-networks" target="_blank">
              <svg width="24" height="24" class="icon-header">
                  <use href="./img/icons.svg#akar-icons_instagram-fill"></use>
              </svg>
          </a>
      </li>
      <li class="li-networks">
          <a href="https://www.facebook.com/" class="a-networks" target="_blank">
              <svg width="24" height="24" class="icon-header">
                  <use href="./img/icons.svg#jam_facebook-square"></use>
              </svg>
          </a>
      </li>
      <li class="li-networks">
          <a href="https://web.telegram.org/z/" class="a-networks" target="_blank">
              <svg width="24" height="24" class="icon-header">
                  <use href="./img/icons.svg#la_telegram-plane"></use>
              </svg>
              </a>
      </li>
  </ul>
  </div>
</div>
</div>
</footer>

<script type="module" src="/main.js"></script>
</body>
</html>