<header>
        <nav>
            <a href="../index.html" class="logo-header">MIMIHO</a>
            <ul class="site-nav">
                <li class="li-nav">
                    <a href="../restaurant-page.html">Ресторан</a>
                    <a href="tel:+380955559533" class="tel-header">095 555 95 33</a>
                </li>
                <li class="li-nav">
                    <a href="../hotel-page.html">Готель</a>
                    <a href="tel:+380668491089" class="tel-header">066 849 10 89</a>
                </li>
            </ul>
            <ul class="networks-header networks">
                <li class="li-networks">
                    <a href="https://www.instagram.com/" class="a-networks" target="_blank">
                        <svg width="24" height="24" class="icon-header">
                            <use href="../img/icons.svg#akar-icons_instagram-fill"></use>
                        </svg>
                    </a>
                </li>
                <li class="li-networks">
                    <a href="https://www.facebook.com/" class="a-networks" target="_blank">
                        <svg width="24" height="24" class="icon-header">
                            <use href="../img/icons.svg#jam_facebook-square"></use>
                        </svg>
                    </a>
                </li>
                <li class="li-networks">
                    <a href="https://web.telegram.org/z/" class="a-networks" target="_blank">
                        <svg width="24" height="24" class="icon-header">
                            <use href="../img/icons.svg#la_telegram-plane"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
</header>