<section class="hero">
    <h1 class="title-hero">MIMIHO</h1>
    <h2 class="h-hero">Ресторанно-готельний комплекс</h2>
    <p class="p-hero">СМАК ЖИТТЯ 24/7</p>
    <a href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl" target="_blank">Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
    <ul class="hero-ul">
        <li class="hero-li">
            <button class="reserve-button-hero" type="button">Забронювати столик</button>
        </li>
        <li class="hero-li">
            <button class="reserve-button-hero" type="button">Забронювати номер</button>
        </li>
    </ul>
</section>