<!-- 3 секція Hotel Page -->
<section class="room_for_2">
  <div class="hotel-block">
    <div class="hotel-block-text">
      <p class="hotel p_text">Amet minim mollit non</p>
      <a class="hotel logo_text">mimiho</a>
      <h1 class="hotel-section-section_text">ДВОМІСНИЙ НОМЕР</h1>
      <p class="hotel-section-p_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="thumb-hotel-img">
      <img alt="Двомісний номер" width="244" height="322" />
    </div>
  </div>
  <div class="hotel-block-button">
    <ul class="group-button-hotel-section">
      <li class="list-button-hotel-section">
        <a class="button-hotel-about" href="../room-page.html">Детальніше</a>
      </li>
      <li class="list-button-hotel-section">
        <button class="button-hotel-room_price js-open-modal">
          Переглянути ціни
        </button>
      </li>
    </ul>
  </div>
</section>
