<!-- 3 секція Hotel Page -->
<section class="room_for_2">
  <div class="hotel-block">
    <div class="hotel-block-text">
      <p class="hotel p_text">Amet minim mollit non</p>
      <a class="hotel logo_text">mimiho</a>
      <h1 class="hotel-section-section_text">ДВОМІСНИЙ НОМЕР</h1>
      <p class="hotel-section-p_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="thumb-hotel-img">
      <img
        srcset="img/photodrafts hotel page/m-bedroom-3-244.jpg 1x , 
      img/photodrafts hotel page/m-bedroom-3-244@2x.jpg 2x ,
      img/photodrafts hotel page/t-bedroom-3-400.jpg 400w ,
      img/photodrafts hotel page/d-bathroom-3-460.jpg 460w"
        src="img/photodrafts hotel page/m-bedroom-3-244.jpg"
        alt="Двомісний номер"
        width="244"
        height="322"
      />
    </div>
  </div>
  <div class="hotel-block-bottom">
    <div class="hotel-block-slider">
      <div class="hotel-block-slider">
        <ul class="hotel-group-img-slider">
          <li class="hotel-list-img-slider">
            <img
              srcset="img/photodrafts hotel page/m-bathroom-3-194.jpg 1x , 
            img/photodrafts hotel page/m-bathroom-3-194@2x.jpg 2x ,
            img/photodrafts hotel page/t-bathroom-3-194.jpg 194w ,
            img/photodrafts hotel page/d-bathroom-3-254.jpg 254w"
              src="img/photodrafts hotel page/m-bathroom-3-194.jpg"
              alt="Ванна"
              width="244"
              height="322"
            />
          </li>
          <li class="list-img-slider">
            <img
              srcset="img/photodrafts hotel page/m-holl-3-194.jpg 1x , 
            img/photodrafts hotel page/m-holl-3-194@2x.jpg 2x ,
            img/photodrafts hotel page/t-holl-3-194.jpg 194w ,
            img/photodrafts hotel page/d-holl-3-254.jpg 254w"
              src="img/photodrafts hotel page/m-holl-3-194.jpg"
              alt="холл"
              width="244"
              height="322"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="hotel-block-button">
      <ul class="group-button-hotel-section">
        <li class="list-button-hotel-section">
          <a class="button-hotel-about" href="./room-page.html">Детальніше</a>
        </li>
        <li class="list-button-hotel-section">
          <button class="button-hotel-room_price js-open-modal">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
