<section class="main-about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="discription-wrap">
      <p class="hotel-description">Amet minim mollit non</p>
      <h3 class="hotel-title">MIMIHO</h3>
      <p class="hotel-description-top">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      class="about-hotel-pic1"
      src="img/d-main-hotel-room.jpg"
      alt="Room with grey walls and big bed"
      width="460"
    />
    <div class="bottom-wrap">
      <p class="hotel-discription-bottom">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about-hotel-pic2"
        src="img/d-main-hotel-lobby.jpg"
        alt="Lobby of the hotel"
        width="460"
      />
    </div>
    <div class="main-slider-wrap">
      <img
        class="main-hotel-slider1"
        src="img/d-white-towel-bed-decoration-bedroom-interior.jpeg"
        alt="Registration"
        width="254"
      />
      <img
        class="main-hotel-slider2"
        src="img/d-hotel-registration.jpeg"
        alt="towels"
        width="254"
      />
    </div>
    <div class="main-button-wrap">
      <button class="slider-button-l" type="button">
        <svg width="29.91" height="16.83">
          <use href="img/icons.svg#cil_arrow-left-black"></use>
        </svg>
      </button>
      <button class="slider-button-r" type="button">
        <svg width="29.91" height="16.83">
          <use href="img/icons.svg#cil_arrow-right-black"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
