<!-- Sectiom "hotel-room-hero" Буркова Анна -->

<section>
    <div>
        <h1>ДВОМІСНИЙ НОМЕР люкс</h1>
        <p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
             Velit officia consequat duis enim velit
             mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div>
            <button type="button">Переглянути ціни</button>
            <ul>
            <li >
                <a href="#">
                    <svg >
                        <use href="/src/img/icons.svg#akar-icons_instagram-fill" width="24px" height="24px"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg>
                        <use href="/src/img/icons.svg#jam_facebook-square" width="24px" height="24px"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg>
                        <use href="/src/img/icons.svg#la_telegram-plane" width="24px" height="24px"></use>
                    </svg>
                </a>
            </li>
            </ul>
        </div>
    </div>
</section>