<!-- Секція "Room Page. Amenities" Буркова Анна -->
<section class="hotel-room-amenities">
     <div class="container">
        <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
            Exercitation veniam consequat sunt nostrud amet.</p>
      <ul class="amenities__set">
        <li class="amenities__item">
        <h3 class="amenities__item-title">ЗАГАЛЬНІ</h3>
        <div class="amenities__text-box">
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
         mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit 
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        </li>
        <li class="amenities__item" >
        <h3 class="amenities__item-title">ВАННА КІМНАТА</h3>
        <div class="amenities__text-box">
        <p class="amenities__item-text" >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
         mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        </li>
        <li class="amenities__item" >
        <h3 class="amenities__item-title">СПАЛЬНЯ</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </li>
        <li class="amenities__item">
        <h3 class="amenities__item-title">КУХНЯ</h3>
        <div class="amenities__text-box">
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </div>
        </li>
        <li class="amenities__item">
        <h3 class="amenities__item-title" >МЕДІА</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
       </li>
      </ul>
      <div class="amenities__booking">
        <button class="amenities__button  js-open-modal"  data-modal="1" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
        <a class="amenities__link" href="./hotel-page.html" target="_blank">
          <span class="amenities__link-text">Повернутися до перегляду номерів</span>
        <svg class="amenities__icon"  width="24"  height="24">
        <use href="./img/icons.svg#cil_arrow-right-black"></use>
        </svg>
      </a>
      </div>
    </div>
</section>

