<!-- Секція "Room Page. Amenities" Буркова Анна -->
<section class="hotel-room-amenities">
     <div class="container-amenities">
        <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <ul class="amenities__set list">
        <li class="amenities__item">
        <h3 class="amenities__item-title">ЗАГАЛЬНІ</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
         mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="amenities__item" >
        <h3 class="amenities__item-title">ВАННА КІМНАТА</h3>
        <p class="amenities__item-text" >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
         mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="amenities__item" >
        <h3 class="amenities__item-title">СПАЛЬНЯ</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </li>
        <li class="amenities__item">
        <h3 class="amenities__item-title">КУХНЯ</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </li>
        <li class="amenities__item">
        <h3 class="amenities__item-title" >МЕДІА</h3>
        <p class="amenities__item-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
       </li>
      </ul>
      <div class="amenities__booking">
        <button class="amenities__button"  type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
        <a class="amenities__link" href="">Повернутися до перегляду номерів</a>
        <svg class="amenities__icon">
        <use href="/src/img/icons.svg#cil_arrow-right-yellow" width="24"  height="24"></use>
        </svg>
      </div>
    </div>
</section>
