<section class="main-about-hotel">
    <h3 class="container">About our hotel</h3>
    <img src="../img/" alt="Room with grey walls and big bed" width="460"/>
    <p class="hotel-description-top">Amet minim mollit non</p>
    <h3>Міміно</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    </p>
    <p class="hotel-discription-bottom">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    </p>
    <img src="" alt="Lobby of the hotel" width="460">
  </section>