 <!-- Hotel room hero Буркова Анна  -->
<div class="gradient-room-hotel"></div>
<section class="room__hero room-hero__overlay ">
  <div class="container  room-hero__container">
    <div class="room-hero__arrows">
      <svg width="40" height="40" class="room-hero__arrow-icon">
        <use href="./img/icons.svg#cil_arrow-left-yellow"></use>
        </svg>
        <svg width="40" height="40" class="room-hero__arrow-icon">
          <use href="./img/icons.svg#cil_arrow-right-yellow"></use>
          </svg>
    </div>
  <h1 class="room-hero__title">ДВОМІСНИЙ НОМЕР люкс</h1>
  <p class="room-hero__text"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit
    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="room-hero__nav">
      <a class="room-hero__map" href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl" target="_blank">
        <svg width="24" height="24" class="room-hero__map-icon">
        <use href="./img/icons.svg#entypo_location-pin"></use>
        </svg>
        <span class="room-hero__map-text">Україна, м. Полтава,<br>
          вул. Маршала Бірюзова, 15 </span>
       </a>
    <ul class="room-hero__networks">
      <li class="room-hero__items">
          <a href="https://www.instagram.com/" class="room-hero__link" target="_blank">
              <svg class="room-hero__icon" width="24" height="24">
                  <use href="./img/icons.svg#akar-icons_instagram-fill"></use>
              </svg>
          </a>
      </li>
      <li class="room-hero__items">
          <a href="https://www.facebook.com/" class="room-hero__link"  target="_blank">
              <svg class="room-hero__icon" width="24" height="24">
                  <use href="./img/icons.svg#jam_facebook-square"></use>
              </svg>
          </a>
      </li>
      <li class="room-hero__items">
          <a href="https://web.telegram.org/z/"  class="room-hero__link"  target="_blank">
              <svg class="room-hero__icon" width="24"  height="24">
                  <use href="./img/icons.svg#la_telegram-plane"></use>
              </svg>
          </a>
      </li>
  </ul>
  <button class="room-hero__buttton js-open-modal" type="button" data-modal="3">Переглянути ціни</button>
  </div>
  </div>
</section>
<main>