<section class="room_for_2">
  <!-- <p class="hotel p_text ">Amet minim mollit non</p> -->
  <!-- <p class="hotel logo_text">mimino</p> -->
  <h1 class="hotel-section-section_text">ДВОМІСНИЙ НОМЕР</h1>
  <p class="hotel-section-p_text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img alt="Двомісний номер" />
  <a class="button-hotel-about" href="#">Детальніше</a>
  <button class="button-hotel-room_price">Переглянути ціни</button>
</section>
