<!-- 1 секція Hotel Page -->
<section class="room_for_2_luxe">
  <div class="container">
    <div class="hotel-block-top">
      <div class="hotel-block-text">
        <p class="hotel p_text">Amet minim mollit non</p>
        <a class="hotel logo_text">mimiho</a>
        <h1 class="hotel-section-section_text">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="hotel-section-p_text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            img/photodrafts-hotel-page/m-bedroom-1-244.jpg    1x,
            img/photodrafts-hotel-page/m-bedroom-1-244@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            img/photodrafts-hotel-page/t-bedroom-1-400.jpg    1x,
            img/photodrafts-hotel-page/t-bedroom-1-400@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width:1279px)"
        />
        <source
          srcset="
            img/photodrafts-hotel-page/d-bedroom-1-460.jpg    1x,
            img/photodrafts-hotel-page/d-bedroom-1-460@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="thumb-hotel-img"
          src="img/photodrafts-hotel-page/m-bedroom-1-244.jpg"
          alt="Двомісний номер люкс"
          width="244"
        />
      </picture>
    </div>
    <div class="hotel-block-bottom">
      <div class="hotel-block-slider">
        <ul class="hotel-group-img-slider">
          <li class="hotel-list-img-slider">
            <picture>
              <source
                srcset="
                  img/photodrafts-hotel-page/m-bathroom-1-194.jpg    1x,
                  img/photodrafts-hotel-page/m-bathroom-1-194@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  img/photodrafts-hotel-page/t-bathroom-1-194.jpg    1x,
                  img/photodrafts-hotel-page/t-bathroom-1-194@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1279px)"
              />
              <source
                srcset="
                  img/photodrafts-hotel-page/d-bathroom-1-254.jpg    1x,
                  img/photodrafts-hotel-page/d-bathroom-1-254@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="thumb-hotel-img-small"
                src="img/photodrafts-hotel-page/m-bathroom-1-194.jpg"
                alt="Ванна"
                width="194"
              />
            </picture>
          </li>
          <li class="list-img-slider">
            <picture>
              <source
                srcset="
                  img/photodrafts-hotel-page/m-holl-1-194.jpg    1x,
                  img/photodrafts-hotel-page/m-holl-1-194@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  img/photodrafts-hotel-page/t-holl-1-194.jpg    1x,
                  img/photodrafts-hotel-page/t-holl-1-194@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width:1279px)"
              />
              <source
                srcset="
                  img/photodrafts-hotel-page/d-holl-1-254.jpg    1x,
                  img/photodrafts-hotel-page/d-holl-1-254@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="thumb-hotel-img-small"
                src="img/photodrafts-hotel-page/m-holl-1-194.jpg"
                alt="Холл"
                width="194"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="hotel-block-button">
        <ul class="group-button-hotel-section">
          <li class="list-button-hotel-section">
            <a class="button-hotel-about" href="./room-page.html">Детальніше</a>
          </li>
          <li class="list-button-hotel-section">
            <button
              class="button-hotel-room_price js-open-modal"
              data-modal="3"
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
