<section class="room_for_3">
  <p class="hotel p_text">Amet minim mollit non</p>
  <a class="hotel logo_text">mimino</a>
  <h1 class="hotel-section-section_text">ТРЬОХМІСНИЙ НОМЕР</h1>
  <p class="hotel-section-p_text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img alt="Трьохмісний номер" width="460" height="574" />
  <a class="button-hotel-about" href="#">Детальніше</a>
  <button class="button-hotel-room_price">Переглянути ціни</button>
</section>
