<section class="room_for_2_luxe">
  <p class="hotel p_text">Amet minim mollit non</p>
  <a class="hotel logo_text">mimino</a>
  <h1 class="hotel-section-section_text">ДВОМІСНИЙ НОМЕР люкс</h1>
  <p class="hotel-section-p_text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img alt="Двоміcний номер люкс" width="244" height="322" />
  <ul class="group-button-hotel-section">
    <li class="list-button-hotel-section">
      <a class="button-hotel-about" href="#">Детальніше</a>
    </li>
    <li class="list-button-hotel-section">
      <button class="button-hotel-room_price">Переглянути ціни</button>
    </li>
  </ul>
</section>
