<section class="about-kitchen">
  <div class="div-one">
    <div class="div-two">
      <p class="top-paragr">Amet minim mollit non</p>
      <h2 class="headlines-mimino">MIMIHO</h2>
      <p class="paragr-about-restourant">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      src="./img/restourant/m-restaurant-interior-grill.jpg"
      alt="man-grill-cook"
      width="293"
      height="322"
    />
    <div class="meet-and-paragr">
      <img
        src="./img/restourant/m-restourant-meet.jpg"
        alt="meet"
        width="200"
        height="278"
      />
      <p class="about-meet">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <ul class="restourant-list">
    <li class="restourant-list-item">
      <img
        src="./img/restourant/m-ruki-v-tisti.jpg"
        alt="hands-in-tisto"
        width="245"
      />
    </li>
    <li class="restourant-list-item">
      <img src="./img/restourant/m-hinkali.jpg" alt="hinkali" width="245" />
    </li>
  </ul>
  <div class="arrow-swiper">
    <svg width="32" height="32">
      <use href="./img/icons.svg#cil_arrow-left-black"></use>
    </svg>
    <svg width="32" height="32">
      <use href="./img/icons.svg#cil_arrow-right-black"></use>
    </svg>
  </div>
</section>
