<section>
  <div class="container">
    <h3>МЕНЮ РЕСТОРАНУ</h3>
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="3">Гарячі страви</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Борщ з телятини з квасолею
              <p>
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </td>
            <td>400 г</td>
            <td>240 грн</td>
          </tr>
          <tr>
            <td>
              Суп сирний з куркою
              <p>
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </td>
            <td>400 г</td>
            <td>200 грн</td>
          </tr>
          <tr>
            <td>
              Паста карбонара
              <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
            </td>
            <td>350 г</td>
            <td>430 грн</td>
          </tr>
          <tr>
            <td>
              Стейк зі свинини
              <p>
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </td>
            <td>400 г</td>
            <td>500 грн</td>
          </tr>
          <tr>
            <td>
              Горбуша в соусі з білого вина
              <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
            </td>
            <td>400 г</td>
            <td>400 грн</td>
          </tr>
        </tbody>
      </table>
      <!-- =======================================
======================================= -->
      <table>
        <thead>
          <tr>
            <th colspan="3">Гарніри та закуски</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Запечені овочі
              <p>Кабачок, перець, помідор, баклажан</p>
            </td>
            <td>200 г</td>
            <td>230 грн</td>
          </tr>
          <tr>
            <td>
              Картопля фрі
              <p>Картопля, соус томатний</p>
            </td>
            <td>150 г</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>
              Картопля по-селянськи
              <p>Картопля, спеції, соус пікантний</p>
            </td>
            <td>150 г</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>
              Хрумкі соління з бочки
              <p>
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </td>
            <td>400 г</td>
            <td>500 грн</td>
          </tr>
          <tr>
            <td>
              Крильця курячі в медовому соусі
              <p>
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </td>
            <td>400 г</td>
            <td>420 грн</td>
          </tr>
        </tbody>
      </table>
      <!-- ===================================================
  =================================================== -->
      <table>
        <thead>
          <tr>
            <th colspan="3">Салати</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Цезар з куркою
              <p>
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </td>
            <td>230 г</td>
            <td>450 грн</td>
          </tr>
          <tr>
            <td>
              Цезар з креветками
              <p>
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>
              Грецький салат
              <p>
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </td>
            <td>230 г</td>
            <td>280 грн</td>
          </tr>
          <tr>
            <td>
              М’ясний салат
              <p>
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
        </tbody>
      </table>
      <!-- ====================================================
  ==================================================== -->
      <table>
        <thead>
          <tr>
            <th colspan="3">Десерти</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Торт наполеон</td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>Торт маковий</td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>Тірамісу</td>
            <td>120 г</td>
            <td>260 грн</td>
          </tr>
        </tbody>
      </table>

      <!-- ====================================================
  ==================================================== -->
      <table>
        <thead>
          <tr>
            <th colspan="3">Напої</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Чай чорний/зелений</td>
            <td>500 г</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Еспресо</td>
            <td>30 г</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Американо</td>
            <td>150 г</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Капучино</td>
            <td>200 г</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>Лате</td>
            <td>200 г</td>
            <td>160 грн</td>
          </tr>
        </tbody>
      </table>
      <!-- ====================================================
  ====================================================    -->
      <button class="" type="button">Забронювати столик</button>
      <!-- ====================================================
  ==================================================== -->
    </div>
  </div>
</section>
