<section class="restaurant-details">
  <h1 class="restaurant-details-title">міміно</h1>
  <h2 class="restaurant-details-second-title">Ресторан</h2>
  <p class="restaurant-details-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit.
  </p>
  <ul class="restaurant-details-list">
    <li class="restaurant-details-list-button">
      <button
        class="restaurant-details-button js-open-modal"
        type="button"
        data-modal="2"
      >
        Забронювати столик
      </button>
    </li>
    <li class="restaurant-details-list-button">
      <form action="./restaurant-page.html">
        <button class="restaurant-details-button" type="submit">
          Переглянути меню
        </button>
      </form>
    </li>
  </ul>
</section>
