<section class="about-kitchen">
  <div class="container">
    <div class="kit-res-div">
      <div class="div-two">
        <h2 class="visually-hidden">About our hotel</h2>
        <p class="top-paragr">Amet minim mollit non</p>
        <p class="headlines-mimino">MIMIHO</p>
        <p class="paragr-about-restourant">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="images-div">
          <picture> 
          <source srcset="./img/restourant/m-restaurant-interior-grill.jpg 1x, ./img/restourant/m-restaurant-interior-grill2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
          <source srcset="./img/restourant/t-restaurant-interior1-1x.jpg 1x, ./img/restourant/t-restaurant-interior1-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
          <source srcset="./img/restourant/d-restaurant-interior-1x.jpg 1x, ./img/restourant/d-restaurant-interior-2x.jpg 2x" media="(min-width: 1280px )" type="image/jpeg">
          <img class="images-shadow" src="./img/restourant/m-restaurant-interior-grill.jpg" alt="man grill cook">
          </picture>
      </div>
    </div>
    <div class="meet-and-paragr">
      <picture> 
        <source srcset="./img/restourant/m-restourant-meet.jpg 1x, ./img/restourant/m-restourant-meet2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
        <source srcset="./img/restourant/t-pexels-oruri-jacome-10456027-1x.jpg 1x, ./img/restourant/t-pexels-oruri-jacome-10456027-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
        <source srcset="./img/restourant/d-pexels-oruri-jacome-10456027-1x.jpg 1x, ./img/restourant/d-pexels-oruri-jacome-10456027-2x.jpg 2x" media="(min-width: 1280px )" type="image/jpeg">
        <img class="images-shadow" src="./img/restourant/m-restourant-meet.jpg" alt="meet">
      </picture>
      <div class="div-about-meet">
        <p class="about-meet">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="div-restourant-list">
      <ul class="restourant-list">
        <li class="restourant-list-item">
          <picture>
            <source srcset="./img/restourant/m-ruki-v-tisti.jpg 1x, ./img/restourant/m-ruki-v-tisti2x 2x" media="(max-width: 1023px)" type="image/jpeg">
            <source srcset="./img/restourant/t-pexels-helena-lopes-696218-1x.jpg 1x, ./img/restourant/t-pexels-helena-lopes-696218-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
            <source srcset="./img/restourant/d-pexels-helena-lopes-696218-1x.jpg 1x, ./img/restourant/d-pexels-helena-lopes-696218-2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <img class="images-shadow" src="./img/restourant/m-ruki-v-tisti.jpg" alt="first slide">
           </picture>
        </li>
        <li class="restourant-list-item">
          <picture>
            <source srcset="./img/restourant/m-hinkali.jpg 1x, ./img/restourant/m-hinkali2x 2x" media="(max-width: 1023px)" type="image/jpeg">
            <source srcset="./img/restourant/t-pexels-mat-brown-1395967-1x.jpg 1x, ./img/restourant/t-pexels-mat-brown-1395967-2x.jpg 2x" media="(min-width: 1024px ) and (max-width: 1279px)" type="image/jpeg">
            <source srcset="./img/restourant/d-pexels-mat-brown-1395967-1x.jpg 1x, ./img/restourant/d-pexels-mat-brown-1395967-2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <img class="images-shadow-r" src="./img/restourant/m-hinkali.jpg" alt="hinkaly">
           </picture>
        </li>
      </ul>
    </div>
    <div class="main-button-wrap button">
      <ul class="svg-list">
        <li class="svg-list-item">
          <button type="button" class="slider-button-l">
            <svg width="32" height="32" class="button-icon">
              <use href="./img/icons.svg#cil_arrow-left-black"></use>
            </svg>
          </button>
        </li>
        <li class="svg-list-item">
          <button type="button" class="slider-button-r">
            <svg width="32" height="32" class="button-icon">
              <use href="./img/icons.svg#cil_arrow-right-black"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
  
</section>
