<section class="restaurant-menu">
  <div class="container">
    <h3 class="restaurant-menu-title">МЕНЮ РЕСТОРАНУ</h3>
    <div class="restaurant-menu-column-direct">
      <div class="restaurant-menu-column">
        <table class="restaurant-menu-table">
          <thead>
            <tr>
              <th class="restaurant-menu-chapter" colspan="3">Гарячі страви</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="restaurant-menu-dishes">
                Борщ з телятини з квасолею
                <p class="restaurant-menu-ingredients">
                  Телятина, картопля, капуста, морква, <br />
                  цибуля, квасоля, часник, помідори, <br />
                  зелень, сметана
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">240 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Суп сирний з куркою
                <p class="restaurant-menu-ingredients">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">200 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Паста карбонара
                <p class="restaurant-menu-ingredients">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </td>
              <td class="restaurant-menu-width">350 г</td>
              <td class="restaurant-menu-price">430 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Стейк зі свинини
                <p class="restaurant-menu-ingredients">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">500 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Горбуша в соусі з білого вина
                <p class="restaurant-menu-ingredients">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">400 грн</td>
            </tr>
          </tbody>
        </table>
        <!-- =======================================
======================================= -->
        <table class="restaurant-menu-table">
          <thead>
            <tr>
              <th class="restaurant-menu-chapter" colspan="3">
                Гарніри та закуски
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="restaurant-menu-dishes">
                Запечені овочі
                <p class="restaurant-menu-ingredients">
                  Кабачок, перець, помідор, баклажан
                </p>
              </td>
              <td class="restaurant-menu-width">200 г</td>
              <td class="restaurant-menu-price">230 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Картопля фрі
                <p class="restaurant-menu-ingredients">
                  Картопля, соус томатний
                </p>
              </td>
              <td class="restaurant-menu-width">150 г</td>
              <td class="restaurant-menu-price">160 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Картопля по-селянськи
                <p class="restaurant-menu-ingredients">
                  Картопля, спеції, соус пікантний
                </p>
              </td>
              <td class="restaurant-menu-width">150 г</td>
              <td class="restaurant-menu-price">160 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Хрумкі соління з бочки
                <p class="restaurant-menu-ingredients">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">500 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Крильця курячі в медовому соусі
                <p class="restaurant-menu-ingredients">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </td>
              <td class="restaurant-menu-width">400 г</td>
              <td class="restaurant-menu-price">420 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ===================================================
  =================================================== -->
      <div class="restaurant-menu-column">
        <table class="restaurant-menu-table">
          <thead>
            <tr>
              <th class="restaurant-menu-chapter" colspan="3">Салати</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="restaurant-menu-dishes">
                Цезар з куркою
                <p class="restaurant-menu-ingredients">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">450 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Цезар з креветками
                <p class="restaurant-menu-ingredients">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                Грецький салат
                <p class="restaurant-menu-ingredients">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">280 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">
                М’ясний салат
                <p class="restaurant-menu-ingredients">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </p>
              </td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">300 грн</td>
            </tr>
          </tbody>
        </table>
        <!-- ====================================================
  ==================================================== -->
        <table class="restaurant-menu-table">
          <thead>
            <tr>
              <th class="restaurant-menu-chapter" colspan="3">Десерти</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="restaurant-menu-dishes">Торт наполеон</td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">Торт маковий</td>
              <td class="restaurant-menu-width">230 г</td>
              <td class="restaurant-menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="restaurant-menu-dishes">Тірамісу</td>
              <td class="restaurant-menu-width">120 г</td>
              <td class="restaurant-menu-price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <!-- ====================================================
  ==================================================== -->
        <table class="restaurant-menu-table">
          <thead>
            <tr>
              <th class="restaurant-menu-chapter" colspan="3">Напої</th>
            </tr>
          </thead>
          <tbody>
            <tr class="restaurant-menu-drinks">
              <td class="restaurant-menu-dishes">Чай чорний/зелений</td>
              <td class="restaurant-menu-width">500 г</td>
              <td class="restaurant-menu-price">100 грн</td>
            </tr>
            <tr class="restaurant-menu-drinks">
              <td class="restaurant-menu-dishes">Еспресо</td>
              <td class="restaurant-menu-width">30 г</td>
              <td class="restaurant-menu-price">100 грн</td>
            </tr>
            <tr class="restaurant-menu-drinks">
              <td class="restaurant-menu-dishes">Американо</td>
              <td class="restaurant-menu-width">150 г</td>
              <td class="restaurant-menu-price">100 грн</td>
            </tr>
            <tr class="restaurant-menu-drinks">
              <td class="restaurant-menu-dishes">Капучино</td>
              <td class="restaurant-menu-width">200 г</td>
              <td class="restaurant-menu-price">160 грн</td>
            </tr>
            <tr class="restaurant-menu-drinks">
              <td class="restaurant-menu-dishes">Лате</td>
              <td class="restaurant-menu-width">200 г</td>
              <td class="restaurant-menu-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- ====================================================
  ====================================================    -->
    <button
      class="button-hotel-room_price restaurant-menu-button"
      type="button"
    >
      Забронювати столик
    </button>
    <!-- ПОТІМ ЗМІНИТИ КЛАС НА БРОНЮВАННЯ СТОЛИКУ -->

    <!-- ====================================================
  ==================================================== -->
  </div>
</section>
