<!-- Section Restaraunt-details Іван Івановський -->
<section class="restaurant-details">
  <div class="container">
    <div class="container-restaurant-details">
      <div class="details-food">
        <h1 class="restaurant-details-title">mimiho</h1>
        <h2 class="restaurant-details-second-title">Ресторан</h2>
        <p class="restaurant-details-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <ul class="food-list">
          <li class="food-list-meat">
            <img
              srcset="./img/restaurant-details/meat-1-2x.jpg 2x"
              src="./img/restaurant-details/meat-1-1x.jpg"
              alt="eat-1"
              width="270"
              height="270"
            />
          </li>
          <li class="food-list-meat">
            <img
              srcset="./img/restaurant-details/meat-2-2x.jpg 2x"
              src="./img/restaurant-details/meat-2-1x.jpg"
              alt="eat-2"
              width="162"
              height="270"
            />
          </li>
          <li class="food-list-meat">
            <picture>
            <source
            srcset="./img/restaurant-details/meat-3half.jpg, ./img/restaurant-details/meat-3half-3@2x.jpg 2x"
            media="(min-width: 1024px ) and (max-width: 1279px)"
            type="image/jpeg"
          />
          <source
            srcset="./img/restaurant-details/meat-3-1x.jpg, ./img/restaurant-details/meat-3-2x.jpg 2x"
            media="(min-width: 1280px )"
            type="image/jpeg"
          />
          <img
            class=""
            src="./img/restaurant-details/meat-3-1x.jpg"
            alt="meat"
          />
          </picture>
          </li>
        </ul>
        <div class="swipe-arrow-hotel">
          <ul class="swipe-navigation-list-hotel">
            <li class="swipe-arrow">
              <button class="arrow-btn" type="button">
                <svg class="arrow-icons" width="32" height="32">
                  <use href="./img/icons.svg#cil_arrow-left-black"></use>
                </svg>
              </button>
            </li>
            <li class="swipe-arrow">
              <button class="arrow-btn" type="button">
                <svg class="arrow-icons" width="32" height="32">
                  <use href="./img/icons.svg#cil_arrow-right-black"></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="button-menu">
        <ul class="restaurant-details-list">
          <li class="restaurant-details-list-button">
            <button
              class="restaurant-details-button js-open-modal"
              type="button"
              data-modal="2"
            >
              Забронювати столик
            </button>
          </li>
          <li class="restaurant-details-list-button">
            <!-- <form action="./restaurant-page.html">
              <button class="restaurant-details-button" type="submit">
                Переглянути меню
              </button>
            </form> -->
            <a href="./restaurant-page.html#menu" class="restaurant-details-button">
                Переглянути меню
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
