<div class="modal" data-modal="3">
  <button class="modal-close buttons js-modal-close">
    <svg class="modal-icon" width="24" height="24">
      <use href="./img/icons.svg#x"></use>
    </svg>
  </button>
  <h1 class="modal-header">ЦІНИ НА НОМЕР</h1>
  <p class="modal-paragraph">Двомісний люкс</p>
  <p class="modal-label-text room-category">Категорія номеру</p>
  <form class="modal-form">
    <label class="modal-label price">
      <input
        type="number"
        name="sum-nights"
        class="modal-input"
        placeholder="1"
        required
        pattern=""
      />
      <span class="modal-label-text">Кількість ночей</span>
    </label>
    <label class="modal-label price">
      <input
        type="number"
        name="price"
        class="modal-input"
        placeholder="1000"
        required
        pattern=""
      />
      <span class="modal-label-text">грн</span>
    </label>
    <button type="submit" class="modal-submit buttons">
      ЗАБРОНЮВАТИ НОМЕР
    </button>
  </form>
</div>
