.about-res-div {
    margin: 0;
}
.div-homepage-list{
    position: relative;
    margin-bottom: 20px;
}

.top-paragr-resto{ font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
font-size: 20px;
line-height: 1.15;
color: #B4B4B4;
    }

/* paragraphes about restourant-resto */
.paragr-about-restourant-resto{
    font-family: 'Montserrat SemiBold';
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: #7A7A7A;
}
.div-about-chairs{
    max-width: 168px;
}
.about-chairs{
    margin-left: auto;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: #C79002;
}
.headlines-mimino{
    margin-bottom: 12px;
    font-family: 'Film P3';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.075;
/* identical to box height */

letter-spacing: 0.3em;

color: #494848;
}
.images-shadow-resto{
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px #00000040;

    }
    .restourant-list-resto{
        display: flex;
        gap: 40px;
     }
     /* button */

    .svg-list{
        display: flex;
        justify-content: flex-end;
    }
    /* -----MOBILE MEDIA------ */
    @media  screen and (min-width: 414px) and (max-width: 1023px){

        .about-res-div {
            margin-bottom: 16px;
        }   
    .about-resto{
        background-color: var(--fon-lemon);
        padding-top: 16px;
        padding-bottom: 20px;
    }
    /* headline-mimino */
    .div-two-resto{
        display: flex;
        flex-direction: column;
        width: 258px;
        margin-bottom: 28px;
    }
    .chairs-and-paragr{
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;    
    }
    .div-about-chairs{
        margin-left: auto;
    }
    .images-div-resto{
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: row-reverse;
    }
    .div-homepage-list{
        margin-bottom: 20px;

    }
    /* левая li слайда */
    .restourant-list-item-resto{
        margin-left: 50px;
    }
    .restourant-list-resto{
        gap: 24px;
    }
    /* правая картинка слайда */
    .images-shadow-resto-r{
        position: absolute;
        right: -180px;
    }

    }

/*-----------MEDIA_TABLET--------------- */

@media  screen and (min-width: 1024px){
    .about-resto > .container{
        padding-left: 47px;
        padding-right: 60px;
    }
/* section */
.about-resto{
    position: relative;
    padding-top: 120px;
    padding-bottom: 32px;
}
.about-res-div {display: flex;
    margin-bottom: 142px;
}
.top-paragr-resto{
font-weight: 400;
font-size: 32px;
line-height: 1.15;
color: #B4B4B4;
}
.headlines-mimino{
font-weight: 700;
font-size: 64px;
line-height: 1.08;
letter-spacing: 0.3em;
color: #494848;

}
.div-two-resto{
    width: 439px;
}
/* paragraphes bottom MIMINO */
.paragr-about-restourant-resto{
font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;

color: #7A7A7A;

}
/* -------div-about-chairs--------- */
.div-about-chairs{
    max-width: 312px;
}
.chairs-and-paragr{
    gap: 48px;
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;    
}
.about-chairs{
    margin-left: auto;
font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--brown);

}
.about-resto{
    font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;

/* Brown */

}

.images-div-resto{
    margin-left: auto;
    /* position: absolute;
    top: -24px;
    right: 112px; */
}
.images-shadow-resto {
    margin: 0;
    margin-top: calc( -32px - 120px );
}
/* ---------------restourant list-resto --------------*/
.restourant-list-resto{
    align-items: flex-end;
    justify-content: flex-end;
}
.div-resto-list{
    margin-bottom: 32px;
 }
 /* ------arrow list----------- */

}
/* ------MEDIA DESKTOP---------- */
@media  screen and (min-width: 1280px){
    /* .images-div-resto{
        right: 180px;
    } */

    /* -----весь верхний текст------- */
    .div-two-resto{
        width: 518px;
    }
    /* -----желтый цвет напроив мяса------- */
    
    .chairs-and-paragr{
        gap: 32px;
    }
    .about-resto > .container{
        padding: 0 85px;
    }
    /* ------ slider-------- */
    .restourant-list-resto{
        margin-bottom: 40px;
    }
}