.contacts-maps {
 
}

.section-contacts {
  background-color: var(--fon-lemon);
  padding: 36px 15px 32px 15px;
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts-title-top {
  margin-bottom: 16px;
}

.logo-text {
  font-size: 40px;
  line-height: 1.07;

  margin-bottom: 12px;
}

.sub-title {
  font-family: 'Montserrat SemiBold';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


.contact-title {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #c79002;

  display: inline-block;
  margin: 0;
  margin-right: 7px;
}

.tel-fild {
  display: inline-flex;
  align-items: center;
  height: 40px;
  background-color: #fff;
  border: 0.5px solid #f3c653;
  color: #494848;
  border-radius: 2px;
  
}

.contact-fild-box > .tel-fild {
  min-width: 144px;
}

.contact-fild {
  display: inline-flex;
  width: 260px;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;

}
.hotel {
  margin-left: 28px;
}

.tel {
  font-family: 'Montserrat Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #494848;

  padding-left: 8px;
  padding-right: 8px;
}

.contact-map {
  /* margin-top: 16px;
  margin-left: 124px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 33px; */
  
  margin-top: 16px;
  margin-left: 124px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 8px 8px 8px 16px;
  /* margin: 0; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
}

@media screen and (min-width: 414px) {
  .contact-title {
    margin-right: 21px;
  }
}
