.footer-section {
  background: var(--color-footer);
  color: var(--akzent-yellow);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 85px;
  padding: 40px 0px;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer-logo-box .logo-text {
  font-size: 40px;
}

.footer-logo-box .logo-link {
  transition: color var(--timing-function);
}

.footer-logo-box .logo-link:hover,
.footer-logo-box .logo-link:focus {
  color: var(--brown);
} 

.footer-links-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navigation-item:not(:last-child) {
  margin-bottom: 16px;
}


.navigation-link {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  cursor: pointer;
  transition: color var(--timing-function);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--brown);
}

.footer-soc-link {
  border: none;
  fill: var(--akzent-yellow);
  transition: background-color var(--timing-function),
              color var(--timing-function)
              fill var(--timing-function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  fill: var(--brown);
}

.footer-soc-name {
  display: none;
}


@media screen and (min-width: 1024px) {
  .footer-container {
   padding: 80px 0px;
   gap: 164px;
  }

  .footer-links-box {
    display: flex;
    flex-direction: row;
    gap: 137px;
  }
 
  .footer-logo-box {
    flex-grow: unset;
  }

  .footer-logo-box .logo-text {
    font-size: 64px;
  }

  .footer-social-list {
    flex-direction: column;
    gap: 12px;
  }

  .footer-soc-link {
    padding: 10px 12px;
    border: 0.5px solid var(--akzent-yellow);
    border-radius: 2px;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
  background-color: var(--akzent-yellow);
  color: var(--color-footer);
  fill: var(--color-footer);
  }
  
  .footer-soc-name {
    font-family: "Montserrat Regular";
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    display: block;
  }

}

@media screen and (min-width: 1280px) {
  .footer-container {
    gap: 230px;
  }

  .footer-links-box {
    gap: 200px
  }
 
}
