:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --fon-lemon: #fffdee;
  --akzent-yellow: #f3c653;
  --fon-dark-lemon: #f0ecd6;
  --brown: #c79002;
  --color-footer: #0e0c07;
  --black: #000000;
  --logo-gray: #494848;
  --white: #ffffff;
  --placeholder: #808080;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 47px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'FilmP3Bold';
  letter-spacing: 0.3em;
}

.logo-title {
}

.logo-link {
}

.logo-text {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.logo-light {
  color: white;
}

.logo-dark {
  color: #494848;
}
