/* header */


/* Затемнення в header for room-hotel */
/* .header-room-hotel {
    background: linear-gradient
    (180deg, #000000 0%, 
    rgba(0, 0, 0, 0.55) 54.17%, 
    rgba(0, 0, 0, 0) 100%);
} */



.header {
    z-index: 3;
    position: absolute;
    width: 100%;
    /* top: 16px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.logo-header {
    margin-right: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.083;
    color: var(--white);
}
.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.li-nav {
    display: flex;
    align-items: flex-start;
}
.li-nav:not(:last-child) {
    margin-right: 20px;
}
.a-nav {
    margin-right: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;

    transition: color 250ms var(--timing-function);
}
.a-nav:focus,
.a-nav:hover {
    color: #C79002;
}
.icon-tel-header {
    display: none;
}
.tel-header {
    display: none;
    color: var(--white);
}
.networks-header {
    display: none;
}

@media screen and (min-width: 414px) {
    .icon-tel-header {
        display: contents;
    }
}
    
    @media screen and (min-width: 1024px) {
        .header {
            padding-left: 47px;
            padding-right: 47px;
            padding-top: 24px;
        }
        .logo-header {
            margin-right: 207px;
            font-size: 40px;
            line-height: 1.075;
        }
        .icon-tel-header {
            display: none;
        }
        .li-nav {
            display: flex;
            align-items: center;
        }
        .a-nav {
            margin-right: 32px;
        }
        .tel-header {
            display: flex;
            padding: 12px 8px 12px 14px;
            border: 1px solid rgba(243, 198, 83, 0.7);
            border-radius: 2px;
            /* width: 149px; */
            background-color: transparent;
        }
        
        .tel-header::before {
            display: block;
            content: "";
            height: 24px;
            width: 24px;
            background-image: url("../img/icon-tel.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            transition: background-color 250ms var(--timing-function);
        }
        .tel-header:focus,
        .tel-header:hover {
            background-color: rgba(0, 0, 0, 0.7);;
        }
        .li-nav:not(:last-child) {
            margin-right: 72px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .header {
            justify-content: space-between;
            padding-left: 85px;
            padding-right: 85px;
            padding-top: 24px;
        }
        .logo-header {
            margin-right: 135px;
        }
        .site-nav {
            margin-right: 140px;
        }
        .networks-header {
            display: flex;
        }
        .li-networks:not(:last-child){
            margin-right: 20px;
        }
        .icon-header {
            fill: #f3c653;
        
            transition: fill 250ms var(--timing-function);
        }
        .icon-header:focus,
        .icon-header:hover {
            fill: #C79002;
            ;
    }
}