
.hero {
    width: 100%;
    max-height: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 181px;
    padding-bottom: 20px;

    background-color: var(--accent-color);
    background-image: linear-gradient( 
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
        url('../img/hero/restaurant-hero-mobile-1x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( 
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url('../img/hero/mainpage-hero-mobile-2x.jpg');
    }
}
.title-hero {

    margin-bottom: 24px;

    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.073;
    letter-spacing: 0.3em;
    color: var(--white);
}
.h-hero {
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--white);
}
.p-hero {
    margin-bottom: 113px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--white);
}
.map-hero {
    position: absolute;
    display: flex;
    align-items: center;
    top: 64px;
    right: 15px;
    width: 225px;
    height: 47px;
    background-color: transparent;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    padding: 8px 8px 8px 16px;
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #E5E5E5;

    transition: background-color 250ms var(--timing-function);
}
.map-hero::before {
    display: block;
    content: "";
    height: 24px;
    width: 24px;
    background-image: url("../img/map-hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.map-hero:focus,
.map-hero:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.reserve-ul-hero {
    margin-bottom: 58px;
}

.reserve-li-hero:not(:last-child) {
    margin-bottom: 24px;
}
.reserve-button-hero {
    padding: 14px 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--akzent-yellow);

    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white);
    border-radius: 25px;

    transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.reserve-button-hero:hover,
.reserve-button-hero:focus {
    background-color: var(--white);
    border: 2px solid var(--akzent-yellow);
}
.networks-hero {
    margin-left: 15px;
    display: flex;
}

.li-networks:not(:last-child){
    margin-right: 20px;
}
.a-networks {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.icon-header {
    fill: #f3c653;

    transition: fill 250ms var(--timing-function);
}
.icon-header:focus,
.icon-header:hover {
    fill: rgba(243, 198, 83, 0.7);
}



@media screen and (min-width: 1024px) {
    .hero {
    height: 720px;
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: linear-gradient( 
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
        url('../img/hero/mainpage-hero-tablet-1x.jpg');
}
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( 
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url('../img/hero/mainpage-hero-tablet-2x.jpg');
    }
}
    .title-hero {
        margin-bottom: 16px;
    
        font-size: 128px;
        line-height: 1.08;
    }
    .h-hero {
        margin-bottom: 56px;
        font-size: 20px;
        line-height: 1.2;
    }
    .p-hero {
        margin-bottom: 137px;
        font-size: 36px;
        line-height: 1.14;
    }
    .div-hero {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
        height: 50px;
    }
    .map-hero {
        position: static;
        display: flex;
        align-items: center;
        width: 285px;   
        
        padding: 8px 8px 8px 16px;
        margin: 0 137px 0 47px;

        font-size: 16px;
        line-height: 1.25;
    }
    .reserve-ul-hero {
        display: flex;
        margin-right: 47px;
    }
    .reserve-li-hero:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
    }
    .networks-hero {
        margin-left: 47px;
    }
}
@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 164px;
        padding-bottom: 64px;
        background-image: linear-gradient( 
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
        url('../img/hero/mainpage-hero-1x.jpg');
}
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( 
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url('../img/hero/mainpage-hero-2x.jpg');
    }
}
    .title-hero {
        margin-bottom: 32px;
    }
    .h-hero {
        margin-bottom: 64px;
    }
    .div-hero {
        margin-bottom: 0;
    }
    .map-hero {
        margin-right: 253px;
    }
    .reserve-li-hero:not(:last-child) {
        margin-right: 60px;
    }
    .networks-hero {
        display: none;
    }
}