.container-amenities{
    min-width: 320px;
    max-width: 414px;
    padding: 32px 15px;
    margin-left: auto;
    margin-right: auto;
}

    @media screen and (min-width:1024px) {
    .container-amenities{
     max-width: 1024px;
     padding-left:47px;
     padding-right: 47px;
     padding-top: 50px;
     padding-bottom: 40px;
    }
      }
      
    @media screen and (min-width: 1280px) {
    .container-amenities {
    max-width: 1280px;
    }
         
    }

.amenities__title{
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;

    color: #000000;
}

.amenities__text{
    margin-bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    
    color: #7A7A7A;
}

@media screen and (min-width:1024px) {
    .amenities__text {
        width: 757px;
    }
}

.amenities__set {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
   
}

.amenities__item{
    margin-bottom: 32px;
}

.amenities__item-title{
    margin-bottom: 16px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
    color: #000000;
}

.amenities__item-text{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color: #7A7A7A;
}

.amenities__booking{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width:1024px) {
    .amenities__booking {
    flex-direction: column;
    align-content: flex-end;
    }
}

.amenities__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 384px;
    height: 64px;
    padding: 20px 43px;
    margin: 0;
    background-color: #000000;
    border: 1px solid;
    border-color: #F3C653;
    border-radius: 25px;
    cursor: pointer;
  
    transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

@media screen and (min-width:1024px) {
    .amenities__button {
    font-size: 24px;
    line-height: 1.21;
    width: 434px;
    height: 64px;
    padding: 18px 38px;
    }
}

.amenities__button:hover,
.amenities__button:focus {
  background-color:#F3C653;
  border-color:#F3C653;
  color: #000000;
}

.amenities__link{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
    transition: color 250ms var(--timing-function);
}

.amenities__link-text{
    margin-right: 12px;
}

.amenities__icon{
    fill: #C79002;
    transition: fill 250ms var(--timing-function);
}

.amenities__link:hover,
.amenities__link:focus{
    color: #F3C653;
}

.amenities__link:hover .amenities__icon,
.amenities__link:focus .amenities__icon{
   fill: #F3C653;
}


