.room_for_2_luxe {
  background-color: #fffdee;
}
.room_for_3 {
  background: #f0ecd6;
}
.room_for_2 {
  background: #fffdee;
}
.hotel.p_text {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #b4b4b4;
}
.hotel.logo_text {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */
  letter-spacing: 0.3em;
  color: #494848;
}
.hotel-section-section_text {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
}
.hotel-section-p_text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.button-hotel-about {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #f3c653;
  width: 236px;
  height: 48px;
  padding: 14px 64px;
  gap: 10px;
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.button-hotel-room_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f3c653;
  background: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .hotel.p_text {
    font-size: 32px;
    line-height: 37px;
  }
  .hotel.logo_text {
    font-size: 64px;
    line-height: 69px;
  }
  .hotel-section-section_text {
    font-size: 30px;
    line-height: 34px;
  }
  .hotel-section-p_text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hotel-section-p_text {
    font-weight: 700;
  }
}
