/*#region hotel section  */
.room_for_2_luxe {
  background-color: #fffdee;
  display: block;
  padding: 32px 0px;
}
.room_for_3 {
  background: #f0ecd6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 32px 0px;
}
.room_for_2 {
  background: #fffdee;

  padding: 32px 0px;
}
.hotel-block {
  display: block;
}
.hotel-block-text {
  display: block;
}
.thumb-hotel-img {
  width: 244px;
  height: 322px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.hotel-block-slider {
  display: flex;
}
.hotel-block-button {
  display: block;
}
/* #endregion */
/*#region hotel text*/
.hotel.p_text {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #b4b4b4;
}
.hotel.logo_text {
  font-family: 'FilmP3Bold';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */
  letter-spacing: 0.3em;
  color: #494848;
}
.hotel-section-section_text {
  font-family: 'Times New Roman Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
}
.hotel-section-p_text {
  font-family: 'Montserrat SemiBold';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  width: 258px;
}
/* #endregion */
/* #region hotel slider */
.hotel-group-img-slider {
  display: flex;
}
.hotel-list-img-slider:not(:last-child) {
  margin-right: 16px;
}
/* #endregion */
/* #region button  */
.list-button-hotel-section:not(:last-child) {
  margin-bottom: 16px;
}
.button-hotel-about {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f3c653;
  width: 236px;
  height: 48px;
  padding: 14px 64px;
  gap: 10px;
  margin: 0;
  background-color: #000000;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.button-hotel-about:hover,
.button-hotel-about:focus {
  background-color: #ffffff;
  /* Akzent yellow */
  border-color: #f3c653;
}
.button-hotel-room_price {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f3c653;
  gap: 10px;
  width: 236px;
  height: 48px;
  margin: 0;
  padding: 14px;
  background-color: #000000;
  border: 2px solid;
  border-color: #fffdee;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.button-hotel-room_price:hover,
.button-hotel-room_price:focus {
  background-color: #ffffff;
  /* Akzent yellow */
  border-color: #f3c653;
}
/*#endregion  */
/* #region media screen */
@media screen and (min-width: 1024px) {
  /* .room_for_2_luxe {
    margin: 0 auto;
  }
  .room_for_3 {
    margin: 0 auto;
  }
  .room_for_2 {
    margin: 0 auto;
  } */
  .hotel.p_text {
    font-size: 32px;
    line-height: 37px;
  }
  .hotel.logo_text {
    font-size: 64px;
    line-height: 69px;
  }
  .hotel-section-section_text {
    font-size: 30px;
    line-height: 34px;
  }
  .hotel-section-p_text {
    font-size: 16px;
    line-height: 20px;
    width: 439px;
  }
  .hotel-list-img-slider:not(:last-child) {
    margin-right: 40px;
  }
  .thumb-hotel-img {
    width: 400px;
    height: 524px;
  }
  .hotel-block-bottom {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-section-p_text {
    font-weight: 700;
    width: 400px;
  }
  .thumb-hotel-img {
    width: 460px;
    height: 574px;
  }
}
/*#endregion  */
