/* Hotel room hero Буркова Анна  */
.room__hero{
    padding-top:350px;
    padding-bottom: 14px;
}

.room-hero__overlay{
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image:  url("../img/room-hero-mobile.jpg");
  height: 740px;
 
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
}

@media screen and (min-device-pixel-ratio: 2),
 screen and (-webkit-min-device-pixel-ratio: 2), 
 screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .room-hero__overlay {
    background-image: url("../img/room-hero-mobile@2x.jpg");
    }
}

@media screen and (min-width: 1024px) {
    .room-hero__overlay {
      background-image: url("../img/room-hero-tablet.jpg");
      height: 718px;
    }
  }
  @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), 
  screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), 
  screen and (min-width: 1024px) and (min-resolution: 192dpi), 
  screen and (min-width: 1024px) and (min-resolution: 2dppx) {
    .room-hero__overlay {
      background-image:  url("../img/room-hero-tablet@2x.jpg");
    }
  }
  
@media screen and (min-width: 1280px) {
    .room-hero__overlay {
      background-image: url("../img/room-hero-desktop.jpg");
      height: 720px;
    }
  }
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), 
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), 
  screen and (min-width: 1280px) and (min-resolution: 192dpi), 
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    .room-hero__overlay {
      background-image:  url("../img/room-hero-desktop@2x.jpg");
    }
  }

.room-hero__arrows{
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.room-hero__title{
margin-bottom: 14px;
font-family: 'Times New Roman Bold';
font-weight: 700;
font-size: 28px;
line-height: 1.14;
letter-spacing: 0.05em;
color: #ffffff;
width: 325px;
}

.room-hero__text{
font-family: 'Montserrat Bold';
font-weight: 700;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 325px;
margin-bottom: 0px;
}

.room-hero__nav{
display: flex;
align-items: center;
margin-top: 16px;
}

.room-hero__networks{
    margin-right: 70px;
}

.room-hero__items:not(:last-child){
    margin-bottom: 10px;
}

.room-hero__icon{
  fill: #C79002;

  transition: fill 250ms var(--timing-function);
}

.room-hero__icon:focus,
.room-hero__icon:hover {
  fill: #F3C653;
}

.room-hero__link{
   display: flex;
   width: 24px;
   height: 24px;
}
.room-hero__map{
    display: none;
}

.room-hero__map-text{
font-family: 'Montserrat Regular';
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.01em;
color: #E5E5E5;
width: 233px;
height: 40px;
}

.room-hero__map-icon{
    position: absolute;
    top:25%;
    left:16px;
}

.room-hero__buttton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    width: 232px;
    height: 48px;
    background-color:rgba(0, 0, 0, 0.4);
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
  
    transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.room-hero__buttton:hover,
.room-hero__buttton:focus {
  background-color:#ffffff;
  border-color:#F3C653;
}

@media screen and (min-width: 320px) and (max-width: 413px) {
    .room-hero__arrows{
    margin-bottom: 88px;
    }
    .room-hero__title{
    width: auto;
    }
    .room-hero__text{
    width: 100%;
        }
}

@media screen and (min-width: 1024px) {
    .room-hero__header {
    height: 116px;
    }
    .room__hero {
    padding-top: 340px;
    padding-bottom: 22px;
    }
    .room-hero__arrows{
    margin-bottom: 88px;
    }
    .room-hero__title{
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    width: 510px;
    }
    .room-hero__text{
    font-size: 16px;
    width: 400px;
    }
    .room-hero__nav{
        margin-top: 0px;
        align-items: normal;
    }
    .room-hero__networks{
     margin-top: 42px;
      position: relative;
      display: flex;
      margin-bottom: 0px;
      margin-right: 0px;
    }
    .room-hero__items:not(:last-child){
        margin-right: 20px;
    }  
    .room-hero__map{
    margin-right: 40px;
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width:285px;
    height: 56px;
    align-items: center;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    }
    .room-hero__buttton{
    margin: 0px 0px 0px auto;
    }
}

@media screen and (min-width: 1280px) {
    .room-hero__container{
    position: relative;
    }
    .room__hero{
    padding-top: 412px;
    padding-bottom: 48px;
    }
    .room-hero__arrows{
    margin-bottom: 72px;
    }
    .room-hero__map{
    display:none;
     }
    .room-hero__networks{
    display:none
    }
    .room-hero__nav{
    position: absolute;
    right: 85px;
    top: 75%;
    }
    .room-hero__title{
    font-size: 36px;
    }
}