.main-about-hotel {
    background-color: #fffdee;
    position: relative;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .discription-wrap {
    padding-top: 115px;
    padding-left: 707px;
    padding-right: 85px;
  }
  
  .hotel-description {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-align: end;
    margin-bottom: 4px;
  
    color: #b4b4b4;
  }
  
  .hotel-title {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-align: end;
    text-transform: capitalize;
    margin-bottom: 24px;
  
    color: #494848;
  }
  
  .hotel-description-top {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
  
    color: #7a7a7a;
    width: 488px;
  }
  
  .about-hotel-pic1 {
    position: absolute;
    top: -24px;
    left: 180px;
  }
  
  .hotel-discription-bottom {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    width: 311px;
  
    color: #c79002;
  
    padding-top: 385px;
    padding-left: 379px;
    padding-right: 590px;
    margin-bottom: 104px;
  }
  
  .about-hotel-pic2 {
    position: absolute;
    top: 504px;
    right: 85px;
  }
  
  .main-slider-wrap {
      margin-bottom: 48px;
  }
  
  .main-hotel-slider1 {
    padding-left: 85px;
  }
  
  .main-hotel-slider2 {
    margin-left: 26px;
  }
  
  .main-button-wrap {
      padding-left: 86px;
  }
  
  .slider-button-s {
      margin-left: 34px;
  }
  