.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hidden,
.hidden-two {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 414px;
  padding: 15px 15px 60px;
  border-radius: 2px;

  background-color: #fffdee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.buttons {
  display: block;

  padding: 0;
  border: 0;
}

.modal-close {
  margin-left: auto;
  margin-bottom: 20px;

  background-color: transparent;
}

.modal-header {
  margin-bottom: 40px;

  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;

  letter-spacing: 0.05em;

  color: #000000;
}

.modal-paragraph {
  margin-bottom: 28px;

  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  letter-spacing: 0.05em;

  color: #808080;
}

.room-category {
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}

.modal-label {
  display: flex;
  flex-direction: column;
}

.modal-input,
.modal-select {
  margin-bottom: 8px;
}

.modal-input {
  max-width: 384px;
  height: 54px;
  padding-left: 12px;
  border: 1px solid #c79002;
  border-radius: 2px;

  background-color: transparent;
}

.modal-input::placeholder {
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: #808080;
}

.modal-label-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #c79002;
}

.modal-submit {
  padding: 20px 43px;
  margin-top: 20px;
  border: 1px solid #f3c653;
  border-radius: 2px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #ffffff;
  background-color: #000000;
}

/* Далі йдуть стилі з універсального скрипту для модалки
який рекомендував ментор. Звідси:
https://codepen.io/dan_postnov/pen/gjBqPb

До потрібних елементів треба додати клас class="js-open-modal"
і атрибут data-modal="1" 
Цифри змінюються
 */

/* Стили для подложки */

.overlay {
   
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}


/* Стили для модальных окон */

.modal {
  
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  
  
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}