.restaurant-menu {
  width: 100%;
  margin: 0 auto;
  background-color: #fffdee;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .restaurant-menu {
    background-color: #f0ecd6;
    padding-top: 58px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-menu {
    padding-bottom: 60px;
  }
}

.restaurant-menu-title {
  font-family: 'Times New Roman Bold';
  font-size: 28px;
  line-height: 1.16;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-column-direct {
    display: flex;
    gap: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-menu-column-direct {
        gap: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.restaurant-menu-table {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-table {
margin-bottom: 20px;
  }
}

.restaurant-menu-chapter {
  display: inline-block;
  font-family: 'Times New Roman Bold';
  font-size: 20px;
  line-height: 1.16;
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .restaurant-menu-chapter {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-menu-chapter {
    font-size: 24px;
  }
}

.restaurant-menu-dishes {
  display: inline-block;
    font-family: 'Montserrat Medium';
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  
 }

@media screen and (min-width: 1280px) {
  .restaurant-menu-dishes {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 12px;
  }
}



.restaurant-menu-ingredients {
  display: block;
  font-family: 'Montserrat Regular';
  max-width: 250px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 4px;
}

.restaurant-menu-width {
  font-family: 'Montserrat Light';
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

.restaurant-menu-price {
  font-family: 'Montserrat Bold';
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  text-align: right;
}

.restaurant-menu-desert-drinks {
margin-bottom: 11px;
min-width: 255px;
}

.restaurant-menu-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;

}


@media screen and (min-width: 1024px) {
  .restaurant-menu-button {
    margin-top: 64px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-menu-button {
    margin-top: 51px;
  }
}
