/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./modal-window.css');
@import url('./hotel.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3.ttf");
}

@font-face {
  font-family: "FilmP3Bold";
  src: url("../fonts/FilmP3Bold.ttf");
}

@font-face {
  font-family: "FilmP3Light";
  src: url("../fonts/FilmP3Light.ttf");
}

@font-face {
  font-family: "FilmP3NarrowBold";
  src: url("../fonts/FilmP3NarrowBold.ttf");
}

@font-face {
  font-family: "FilmP3NarrowLight" ;
  src: url("../fonts/FilmP3NarrowLight.ttf");
}

@font-face {
  font-family: "FilmP3Narrow.ttf";
  src: url("../fonts/FilmP3Narrow.ttf");
}

@font-face {
  font-family: "FilmP3WideBold" ;
  src: url("../fonts/FilmP3WideBold.ttf");
}

@font-face {
  font-family: "FilmP3WideLight" ;
  src: url("../fonts/FilmP3WideLight.ttf");
}

@font-face {
  font-family: "FilmP3Wide" ;
  src: url("../fonts/FilmP3Wide.ttf");
}

@media screen and (min-width: 414px) {
  .container { 
    width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}